.verticaldiv {
  display: flex;
  flex-direction: column;
  background-color: rgb(8, 100, 100);
  height: 150px;
  width: 200px;
}

.containerCustom {
  background-color: #d22e2e; /* Your custom background color */
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-top: 7%;
  margin-bottom: 4%;
}

.learn-more {
  width: 19rem;
  height: auto;
}

/* Styles for the circle container */
.circle {
  transition: all 0.8s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  width: 3rem;
  height: 3rem;
  background: #7f0a02;
  border-radius: 1.625rem;

  /* Flexbox properties for centering */
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
}

/* Styles for the icon inside the circle */
.circle .icon {
  /* Reset potential offsets and transformations */
  position: static;
  transform: none;

  border-radius: 50%;
  width: 2rem;
  height: 2rem;

  /* Disable any transitions on the icon */
  transition: none !important;
}

/* Reset hover transformations on the arrow icon, to ensure it doesn't move */
.circle .icon.arrow {
  left: 0;
  transform: none;
}

.circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  transform: rotate(45deg);
}

.button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #030304;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

/* Hover effects on the button */
.button:hover .circle {
  width: 100%;
}

.button:hover .circle .icon,
.button:hover .circle .icon.arrow {
  /* Ensure the icon and arrow don't move or transform on hover */
  transform: translate(1rem, 0);
  position: static !important;
  top: auto !important;
  margin-right: auto !important;
}

.button:hover .circle .icon.arrow::before {
  transform: rotate(45deg);
  top: -0.29rem;
  right: 0.0625rem;
}

.button:hover .button-text {
  color: #fff;
}
