.custom-btn {
  border-radius: 13px; /* Adjust the value as per your requirement */
  background-color: #620602;
  font-family: "Merriweather", serif;
  color: rgb(247, 217, 217);
  box-shadow: 1px 1px 10px 1px #131212;
  cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
}
.custom-btn:hover {
  border-radius: 13px; /* Adjust the value as per your requirement */
  background-color: #97110a;
  color: rgb(255, 255, 255);
  
 
}
.custom-btn:after {
  content: "";
  background: #97110a;
  color: azure;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.8s;
 }
 .custom-btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }
 
