.CarteSang{
    padding: 3%;
    
}
.CarteSang h3 ,p{
    color: #050505;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     
}
.section1{
    margin: 2%;
    padding: 1%;
}
.section2{
   
    height: 580px;
    overflow: auto;
}
.section3{
   
    
    padding: 4%;
    height: 580px;
    
    
}
.button {
    position: relative;
    width: 220px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #460101;
    background-color:#460101;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 1.5%;
   
    
  }
  
  .button .button__text1 {
    transform: translateX(14px);
    color: #fff;
    font-weight: 600;
   
    
  }
  
  .button .button__text2 {
    position: absolute;
    transform: translateX(80px);
    height: 100%;
    width: 140px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tablesection{
 
    padding-top: 3%;
    height: 650px;
    overflow: scroll;
    padding-top: 3%;
  }